<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coursera Angular Assignment 1</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet" type="text/css">
</head>
<body data-ng-app="dmApp">
<section data-ng-controller="LunchCheckCtrl">
    <p data-ng-class="msgClass">
        {{checkMsg}}
    </p>

    <input type="text" size=50 data-ng-model="itemsList">
    <button data-ng-click="checkItemsList()">Check amount!</button>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>