<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coursera Angular Assignment 1</title>
</head>
<body data-ng-app="dmApp">
<section data-ng-controller="">
    <input type="text" size=50 data-ng-model="itemList">
    <button data-ng-click=""></button>
    <p data-ng-model="checkMsg"
       data-ng-class="msgClass">
    </p>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>