/*
    Few basic classes
*/

.front-red{
    color:red;
    background-color: #ccc;
}

.front-green{
    color:green;
    background-color: #ccc; 
}

.back-red{
    color:#fff;
    background-color:red;
}

.back-green{
    color:#fff;
    background-color:green; 
}

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}


section, p, button, input{
    padding:20px;
}